    .imgBlock {float:left;margin:10px}
    img.album {color:black;border:black 4pt outset;text-decoration:none}
    img.thumbnail {color:black;border:black 1pt solid;text-decoration:none}
    .thumbnail-caption {font-size:x-small;width:200px;}
    .control {margin:10pt;border:outset 4pt;padding:2pt;cursor:pointer}
    .controlRow {margin-bottom:20pt}
    .image-credit {font-size:x-small;text-align:top;}
    .image-name {font-size:x-small;}
    .image-index-credit {font-size:x-small;font-variant:small-caps;margin-left:3pt;}
