<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Unlimited Tuesday</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/19/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Unlimited Free is Flying</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-free-flying</link>
 <description>&lt;p&gt;Rain showers have cleared and we have wasted none of the flyable weather.&amp;nbsp; The low stuff is scattering as Hubie Tolson flies his known.&amp;nbsp; The wind is about the same as yesterday, only from the opposite direction.&lt;/p&gt;
&lt;p&gt;&lt;img width=&quot;200&quot; height=&quot;150&quot; alt=&quot;&quot; src=&quot;/USN2009/cc/sites/default/files/u1/small_TuesdayWater.JPG&quot; /&gt;&lt;img width=&quot;200&quot; height=&quot;150&quot; alt=&quot;&quot; src=&quot;/USN2009/cc/sites/default/files/u1/small_TuesdayWind.JPG&quot; /&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/unlimited-tuesday">Unlimited Tuesday</category>
 <pubDate>Tue, 22 Sep 2009 20:48:51 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">14 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
