<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Champions</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/25/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Unlimited National Champion</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-national-champion</link>
 <description>&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Pilots/400/Debby_Rihn_Harvey.JPG&quot; alt=&quot;Debby Rihn-Harvey, 2009 US Unlimited Champion&quot; /&gt;&lt;/p&gt;
&lt;p&gt;Congratulate &lt;strong&gt;Debby Rihn-Harvey&lt;/strong&gt;, &lt;strong&gt;2009 United States Unlimited National Champion&lt;/strong&gt; with 9578 points, 80.5% of possible.&amp;nbsp; Second is Jeff Boerboon with 9537 points.&amp;nbsp; Zach Heffley is third with 9422.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/champions">Champions</category>
 <pubDate>Fri, 25 Sep 2009 03:25:46 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">29 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Advanced National Champion</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/advanced-national-champion</link>
 <description>&lt;p&gt;&amp;nbsp;&lt;/p&gt;
&lt;p&gt;Congratulate Malcolm Pond, 2009 United States National Advanced Champion with 7218 points, 79.5% of possible.&amp;nbsp; Second is Reinaldo Beyer with 7197 points.&amp;nbsp; Ben Freelove is third with 7179.&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Pilots/400/Malcolm_Pond.JPG&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/champions">Champions</category>
 <pubDate>Thu, 24 Sep 2009 15:18:43 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">24 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
