<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Practice</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/15/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Nationals heats up</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/nationals-heats</link>
 <description>&lt;p&gt;Rain hanging over north Texas cleared to the east late Friday allowing flying to commence.&amp;nbsp; Saturday flew ten minute practice sessions from dawn to dusk.&lt;/p&gt;
&lt;p&gt;The hangars are full of airplanes and gliders, but we have room for Sunday morning late arrivals.&lt;/p&gt;
&lt;p&gt;Advanced competitors Kelly Adams, Vickie Benzig, Reinaldo Beyer, Ben Freelove, Mike Gallaway, Malcolm Pond, Doug Sowder all practiced, among others.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/nationals-heats&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/practice">Practice</category>
 <pubDate>Sun, 20 Sep 2009 10:46:06 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">8 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Practice Slots</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/practice-slots</link>
 <description>&lt;p&gt;&lt;span&gt;Here is the &lt;/span&gt;&lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/Practice.pdf&quot;&gt;Practice List&lt;/a&gt; for Nationals.&amp;nbsp; To prevent misunderstandings and manage churn, here is the policy.&lt;/p&gt;
&lt;p&gt;You can do the following in person at the contest:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;give up your slot&lt;/li&gt;
    &lt;li&gt;take an open slot&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;You cannot designate another person to take your slot.&amp;nbsp; If you want to trade slots with someone, both of you must be present to make the exchange.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/practice-slots&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/practice">Practice</category>
 <pubDate>Thu, 17 Sep 2009 15:47:50 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">7 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
