<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Schedule</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/10/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Friday Schedule</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/friday-schedule</link>
 <description>&lt;p&gt;Schedule for Friday:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;7am Advanced, Sportsman, and Primary Briefing&lt;/li&gt;
    &lt;li&gt;8am Advanced Team Unknown program&lt;/li&gt;
    &lt;li&gt;11am Sportsman Free II, Primary Flight III&lt;/li&gt;
    &lt;li&gt;Noon 2010 Advanced Team photo shoot&lt;/li&gt;
    &lt;li&gt;2pm Unlimited 4min Free briefing&lt;/li&gt;
    &lt;li&gt;3pm Unlimited 4min Free&lt;/li&gt;
    &lt;li&gt;4pm Contest clean-up. Pack it up and shut it down.&lt;/li&gt;
    &lt;li&gt;7pm IAC Annual Awards Banquet at Denison Country Club&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;We need everyone&#039;s help to clean up quickly after flying.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Fri, 25 Sep 2009 12:04:42 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">30 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Thursday Schedule</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/thursday-schedule</link>
 <description>&lt;p&gt;The Thursday schedule is modified as follows:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;7am		Unlimited, Sportsman, Primary briefing&lt;/li&gt;
    &lt;li&gt;8am		Unlimited Unknown program&lt;/li&gt;
    &lt;li&gt;11am		Sportsman Free I, Primary Flight II&lt;/li&gt;
    &lt;li&gt;Noon		Advanced Unknown II sequence submission deadline&lt;/li&gt;
    &lt;li&gt;1pm		Intermediate Unknown briefing&lt;/li&gt;
    &lt;li&gt;2pm		Intermediate Unknown program&lt;/li&gt;
    &lt;li&gt;7:30pm		Unlimited 4min Free Order of Flight distribution&lt;/li&gt;
    &lt;li&gt;7:30pm		Barbecue at the Library Bar and Grill sponsored by Lake Texoma Jet Center, LLC&lt;/li&gt;
&lt;/ul&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Wed, 23 Sep 2009 22:34:54 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">19 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Revised Schedule for Wednesday, September 23</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/revised-schedule-wednesday-september-23</link>
 <description>&lt;p&gt;Due to rain delay Tuesday, the schedule for Wednesday is revised as follows:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;7am Sportsman &amp;amp; Primary category briefing&lt;/li&gt;
    &lt;li&gt;8am to Noon Sportsman Known, Primary Flight I&lt;/li&gt;
    &lt;li&gt;8am Intermediate Unknown sequence distribution&lt;/li&gt;
    &lt;li&gt;11am Advanced category briefing&lt;/li&gt;
    &lt;li&gt;Noon to 4pm Advanced Unknown I&lt;/li&gt;
    &lt;li&gt;3pm Intermediate category briefing&lt;/li&gt;
    &lt;li&gt;4pm to 7:22pm Intermediate Free&lt;/li&gt;
    &lt;li&gt;6:30pm Advanced Unknown II figure submission&lt;/li&gt;
    &lt;li&gt;7:30pm Distribution of Advanced Unknown II figures&lt;/li&gt;
&lt;/ul&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Wed, 23 Sep 2009 04:16:32 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">16 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Schedule Posted</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/schedule-posted</link>
 <description>&lt;p&gt;We have posted the flying schedule for the 2009 Nationals. The first official briefing for all pilots is on Sunday, September 20 at 13:00 local. The Advanced category will be first to fly, starting the known at 14:30 local on Sunday.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Mon, 30 Mar 2009 22:08:09 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">3 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
