<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - truck</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/24/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Ann Salcedo and the Mud Stuck Truck Caper</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/ann-salcedo-and-mud-stuck-truck-caper</link>
 <description>&lt;p&gt;Boundary conditions have been tough on our VC.&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Anns_Stuck_Truck/200/DCS_9268.JPG&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
&lt;p&gt;Here&#039;s a &lt;a href=&quot;http://www.iacusn.org/USN2009/truck.html&quot;&gt;photo album&lt;/a&gt; of the mud truck stuck caper.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/truck">truck</category>
 <pubDate>Thu, 24 Sep 2009 15:06:31 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">23 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
