<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Chicken</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/23/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Chicken Invasion</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/chicken-invasion</link>
 <description>&lt;p&gt;These chickens invaded the hangar one morning.&amp;nbsp; They have been very popular at Nationals.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/chicken-invasion&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/chicken">Chicken</category>
 <pubDate>Thu, 24 Sep 2009 15:00:03 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">22 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
