<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - &#039;Free Programs&#039; Registration Checklist</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/12/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Registration</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/registration</link>
 <description>&lt;p&gt;The IAC member area has an &lt;a href=&quot;http://members.iac.org/contests/contest_checklist.html&quot;&gt;Aerobatic Contest Checklist&lt;/a&gt; that will assist even the most seasoned competitor and prevent unpleasant surprises upon arrival at the contest.  Know that the technical inspection will be careful and complete.&lt;/p&gt;
&lt;p&gt;Please arrive with the suggested number of copies of your free program (9 A, 20 B &amp;amp; C).  Registration will charge $20 for use of their copy machine.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/registration&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/free-programs-registration-checklist">&#039;Free Programs&#039; Registration Checklist</category>
 <pubDate>Tue, 11 Aug 2009 22:52:30 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">4 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
