<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Unlimited</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/17/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Unlimited Unknown</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-unknown</link>
 <description>&lt;p&gt;The Unlimited Unknown is flying.&amp;nbsp; &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedPowerUnknown.htm&quot;&gt;Power&lt;/a&gt; and &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedGliderUnknown.htm&quot;&gt;glider&lt;/a&gt;.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/unlimited">Unlimited</category>
 <pubDate>Thu, 24 Sep 2009 13:56:28 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">21 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Unlimited Free Completed</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-free-completed</link>
 <description>&lt;p&gt;With a quarter hour to spare we are just finishing the Unlimited Free today.&amp;nbsp; Scoring director Carol Brinker has been posting &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedPowerFree.htm&quot;&gt;results&lt;/a&gt; during the flight.&amp;nbsp; &lt;/p&gt;
&lt;p&gt;Tonight we have the MX sponsored barbecue.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/unlimited">Unlimited</category>
 <pubDate>Wed, 23 Sep 2009 00:03:32 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">15 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Unlimited Known Complete</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-known-complete</link>
 <description>&lt;p&gt;Unlimited completed the Known and we&#039;ve moved on to Intermediate.&amp;nbsp; Hubie Tolson had a technical problem.&lt;/p&gt;
&lt;p&gt;Here&#039;s a picture of your scoring director Carol Brinker on the judging line updating scores.&lt;/p&gt;
&lt;p&gt;&lt;img width=&quot;400&quot; height=&quot;300&quot; src=&quot;/USN2009/cc/sites/default/files/u4/medium_IMG_4425.JPG&quot; alt=&quot;Carol Brinker at Nationals 2009&quot; /&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/unlimited">Unlimited</category>
 <pubDate>Mon, 21 Sep 2009 16:58:54 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">11 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Unlimited Known Flying</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-known-flying</link>
 <description>&lt;p&gt;The Unlimited Known is flying in wind 15 gusting 24 from the south.&amp;nbsp; The best Unlimited pilots know how to deal and have shown excellent box placement.&amp;nbsp; We watched the two Unlimited gliders hit the 45 line upwind and climb almost vertically.&amp;nbsp; &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedGliderKnown.htm&quot;&gt;Provisional results for glider&lt;/a&gt; are posted.&amp;nbsp; Our score keeper is updating &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedPowerKnown.htm&quot;&gt;power standings&lt;/a&gt; every few pilots.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/unlimited-known-flying&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/unlimited">Unlimited</category>
 <pubDate>Mon, 21 Sep 2009 15:34:10 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">10 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
