<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Conditions</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/7/0</link>
 <description>about the conditions for flight or other conditions affecting the contest</description>
 <language>en</language>
<item>
 <title>Ann Salcedo and the Mud Stuck Truck Caper</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/ann-salcedo-and-mud-stuck-truck-caper</link>
 <description>&lt;p&gt;Boundary conditions have been tough on our VC.&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Anns_Stuck_Truck/200/DCS_9268.JPG&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;
&lt;p&gt;Here&#039;s a &lt;a href=&quot;http://www.iacusn.org/USN2009/truck.html&quot;&gt;photo album&lt;/a&gt; of the mud truck stuck caper.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/truck">truck</category>
 <pubDate>Thu, 24 Sep 2009 15:06:31 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">23 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Chicken Invasion</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/chicken-invasion</link>
 <description>&lt;p&gt;These chickens invaded the hangar one morning.&amp;nbsp; They have been very popular at Nationals.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/chicken-invasion&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/chicken">Chicken</category>
 <pubDate>Thu, 24 Sep 2009 15:00:03 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">22 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Schedule Posted</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/schedule-posted</link>
 <description>&lt;p&gt;We have posted the flying schedule for the 2009 Nationals. The first official briefing for all pilots is on Sunday, September 20 at 13:00 local. The Advanced category will be first to fly, starting the known at 14:30 local on Sunday.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/conditions">Conditions</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Mon, 30 Mar 2009 22:08:09 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">3 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
