<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Flying</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/2/0</link>
 <description>about contest flying, or a particular flight</description>
 <language>en</language>
<item>
 <title>Thank you Laurie Zaleski and Carol Brinker</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/thank-you-laurie-zaleski-and-carol-brinker</link>
 <description>&lt;p&gt;&lt;img src=&quot;/USN2009/photos/KC01/200/IMG_1143.JPG&quot; alt=&quot;Laurie Zalesky by Kevin Campbell&quot; /&gt;&lt;img src=&quot;/USN2009/photos/Sept_23_09B/200/DCS_9590.JPG&quot; alt=&quot;Photographer Laurie Zaleski&quot; /&gt;&lt;img src=&quot;/USN2009/photos/DCL/200/IMG_4416.JPG&quot; alt=&quot;Laurie Zaleski by Douglas Lovell&quot; /&gt;&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;/USN2009/photos/DCL/200/IMG_4425.JPG&quot; alt=&quot;Carol Brinker by Douglas Lovell&quot; /&gt;&lt;img src=&quot;/USN2009/photos/DCL/200/IMG_4436.JPG&quot; alt=&quot;Last to pack&quot; /&gt;&lt;img src=&quot;/USN2009/photos/DCL/200/IMG_4422.JPG&quot; alt=&quot;Carol entering scores&quot; /&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/thank-you-laurie-zaleski-and-carol-brinker&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Wed, 07 Oct 2009 01:50:19 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">36 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Four Minute Free&#039;s</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/four-minute-frees</link>
 <description>&lt;p&gt;&amp;nbsp;I now have both Zak Heffley&#039;s four minute and Paul Jennings glider four minute up loaded to YOUTUBE! &amp;nbsp;Just go to the web site and then search Zak or Pauls name and you&#039;ll get the video. &amp;nbsp;Plus here&#039;s the link but I&#039;ve had people tell me there are problems so check it out either way... I&#039;m not Doug Lovell with a computer genious mind! &amp;nbsp; Soups!&lt;a href=&quot;http://www.youtube.com/watch?v=wrOb2Cayxtg&quot;&gt;www.youtube.com/watch&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Thu, 01 Oct 2009 02:03:34 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">35 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>It&#039;s a wrap</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/its-wrap</link>
 <description>&lt;p&gt;Thank you all very much for a great contest.&lt;/p&gt;
&lt;p&gt;From myself and all of the volunteers, we wish you safe travels and look forward to the next contest.&lt;/p&gt;
&lt;p&gt;Very best,&lt;/p&gt;
&lt;p&gt;Chris&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Sat, 26 Sep 2009 06:26:38 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">34 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Heffley wins Four Minute Free</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/heffley-wins-four-minute-free</link>
 <description>&lt;p&gt;Congratulate Zach Heffley for first place showing in the Four Minute Free. &amp;nbsp;Debby Rihn-Harvey was second, Wyche Coleman III third.&amp;nbsp; Paul Jennings made a beautiful glider flight that took a standing ovation at the banquet.&lt;/p&gt;
&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Pilots/400/Zack_Heffley.JPG&quot; alt=&quot;&quot; /&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Sat, 26 Sep 2009 06:21:58 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">33 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Friday Schedule</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/friday-schedule-0</link>
 <description>&lt;p&gt;We have flown the Advanced Team Unknown and the Four Minute Free.&amp;nbsp; Preliminary results are posted. We are getting a third flight for Sportsman and Primary.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Fri, 25 Sep 2009 19:56:30 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">31 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Friday Schedule</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/friday-schedule</link>
 <description>&lt;p&gt;Schedule for Friday:&lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;7am Advanced, Sportsman, and Primary Briefing&lt;/li&gt;
    &lt;li&gt;8am Advanced Team Unknown program&lt;/li&gt;
    &lt;li&gt;11am Sportsman Free II, Primary Flight III&lt;/li&gt;
    &lt;li&gt;Noon 2010 Advanced Team photo shoot&lt;/li&gt;
    &lt;li&gt;2pm Unlimited 4min Free briefing&lt;/li&gt;
    &lt;li&gt;3pm Unlimited 4min Free&lt;/li&gt;
    &lt;li&gt;4pm Contest clean-up. Pack it up and shut it down.&lt;/li&gt;
    &lt;li&gt;7pm IAC Annual Awards Banquet at Denison Country Club&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;We need everyone&#039;s help to clean up quickly after flying.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/schedule">Schedule</category>
 <pubDate>Fri, 25 Sep 2009 12:04:42 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">30 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Unlimited National Champion</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-national-champion</link>
 <description>&lt;p&gt;&lt;img src=&quot;http://www.iacusn.org/USN2009/photos/Pilots/400/Debby_Rihn_Harvey.JPG&quot; alt=&quot;Debby Rihn-Harvey, 2009 US Unlimited Champion&quot; /&gt;&lt;/p&gt;
&lt;p&gt;Congratulate &lt;strong&gt;Debby Rihn-Harvey&lt;/strong&gt;, &lt;strong&gt;2009 United States Unlimited National Champion&lt;/strong&gt; with 9578 points, 80.5% of possible.&amp;nbsp; Second is Jeff Boerboon with 9537 points.&amp;nbsp; Zach Heffley is third with 9422.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/champions">Champions</category>
 <pubDate>Fri, 25 Sep 2009 03:25:46 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">29 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>End of Day Thursday</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/end-day-thursday</link>
 <description>&lt;p&gt;We&#039;re finishing up Intermediate now.&amp;nbsp; Tonight is the Library party... Daddy, I&#039;m going to the library...&amp;nbsp; If you can&#039;t join us, maybe enjoy the &lt;a href=&quot;http://www.iacusn.org/USN2009/albums.html&quot;&gt;photo albums&lt;/a&gt; we&#039;ve been posting for you.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/intermediate">Intermediate</category>
 <pubDate>Thu, 24 Sep 2009 21:36:57 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">27 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Unlimited Unknown Complete</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/unlimited-unknown-complete</link>
 <description>&lt;p&gt;The Unlimited Unknown is complete and preliminary results for the flight and for the overall category are posted on the &lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/scores.html&quot;&gt;results page&lt;/a&gt;.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Thu, 24 Sep 2009 16:15:41 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">26 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Sportsman and Primary are Flying</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/sportsman-and-primary-are-flying-0</link>
 <description>&lt;p&gt;Sportsman and Primary are flying with a high overcast.&amp;nbsp; We&#039;re on schedule.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <pubDate>Thu, 24 Sep 2009 16:13:40 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">25 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
