<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Team</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/9/0</link>
 <description>about the team competition</description>
 <language>en</language>
<item>
 <title>United States Advanced World Team</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/united-states-advanced-world-team</link>
 <description>&lt;p&gt;The 2010 United States Advanced World team, selected at the 2009 U.S. Nationals, is:&lt;/p&gt;
&lt;p&gt;Reinaldo Beyer, Craig&amp;nbsp;Dobesh, Ben Freelove, Bob Freeman, Mike Gallaway, Robbie Gibbs, Malcolm Pond, and Doug Sowder; with alternates Kelly Adams and Brian Taylor.&lt;/p&gt;
&lt;p&gt;Congratulate and remember to support your United States Aerobatic Team.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/team">Team</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/results">Results</category>
 <pubDate>Fri, 25 Sep 2009 21:33:39 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">32 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
