<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Advanced</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/16/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Flying Advanced Unknown I</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/flying-advanced-unknown-i</link>
 <description>&lt;p&gt;We are starting the &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_AdvancedPowerUnknown.htm&quot;&gt;Advanced Unkown I&lt;/a&gt;.&amp;nbsp; This flight will determine the Advanced National Champion.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/advanced">Advanced</category>
 <pubDate>Wed, 23 Sep 2009 16:32:25 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">18 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Advanced Known Flown</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/advanced-known-flown</link>
 <description>&lt;p&gt;The Advanced Known flew at Nationals today with high scattered cumulus and light winds.&amp;nbsp; Thomas Franscioni provisionally holds the first place slot ahead of Craig Dobesh and Malcolm Pond.&amp;nbsp; Find &lt;a href=&quot;http://www.iacusn.org/USN2009/results/multi_AdvancedPowerOverall.htm&quot;&gt;full results&lt;/a&gt; on the &lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/scores.html&quot;&gt;Nationals results page&lt;/a&gt;.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/advanced">Advanced</category>
 <pubDate>Mon, 21 Sep 2009 04:17:53 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">9 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
