<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - accomodations</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/13/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Additional Conference Hotel</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/additional-conference-hotel</link>
 <description>&lt;p&gt;We have added a hotel for Nationals:&lt;/p&gt;
&lt;p&gt;The Holiday Inn Express, 2909 Michelle Drive, Sherman TX&lt;/p&gt;
&lt;p&gt;903-892-3300&amp;nbsp; IAC&amp;nbsp;Rate $73/Night&lt;/p&gt;
&lt;p&gt;Please use the&lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/accom.html&quot;&gt; listed hotels&lt;/a&gt; if possible, to help the contest.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/accomodations">accomodations</category>
 <pubDate>Sat, 05 Sep 2009 13:55:50 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">5 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
