<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Preparation</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/1/0</link>
 <description>about preparing to fly, training, getting in the game</description>
 <language>en</language>
<item>
 <title>Eagle Sport Aviation Club</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/eagle-sport-aviation-club</link>
 <description>&lt;p&gt;


 	
	
	    

&lt;/p&gt;
&lt;p&gt;&lt;font face=&quot;Tahoma&quot;&gt;&lt;font size=&quot;5&quot;&gt;Two weeks ago the members from Eagle Sport Aviation Club, students / instructors at Embry Riddle U decided to make a showing at the Nationals in the Sportsman glider category.&lt;/font&gt;&lt;/font&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/eagle-sport-aviation-club&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <pubDate>Fri, 25 Sep 2009 03:18:49 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">28 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Book of Memories of Vicki Cruse</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/book-memories-vicki-cruse</link>
 <description>&lt;p&gt;At the 2009 Nationals, IAC will pay tribute to the life of past President Vicki Cruse by placing a book in the briefing hangar along with writing and photo mounting materials.  Members are invited to share memories of Vicki, stories, and accomplishments by writing or placing photographs in the book and looking at what others have left there.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/book-memories-vicki-cruse&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/vicki-cruse">Vicki Cruse</category>
 <pubDate>Fri, 11 Sep 2009 01:12:08 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">6 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Additional Conference Hotel</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/additional-conference-hotel</link>
 <description>&lt;p&gt;We have added a hotel for Nationals:&lt;/p&gt;
&lt;p&gt;The Holiday Inn Express, 2909 Michelle Drive, Sherman TX&lt;/p&gt;
&lt;p&gt;903-892-3300&amp;nbsp; IAC&amp;nbsp;Rate $73/Night&lt;/p&gt;
&lt;p&gt;Please use the&lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/accom.html&quot;&gt; listed hotels&lt;/a&gt; if possible, to help the contest.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/accomodations">accomodations</category>
 <pubDate>Sat, 05 Sep 2009 13:55:50 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">5 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Registration</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/registration</link>
 <description>&lt;p&gt;The IAC member area has an &lt;a href=&quot;http://members.iac.org/contests/contest_checklist.html&quot;&gt;Aerobatic Contest Checklist&lt;/a&gt; that will assist even the most seasoned competitor and prevent unpleasant surprises upon arrival at the contest.  Know that the technical inspection will be careful and complete.&lt;/p&gt;
&lt;p&gt;Please arrive with the suggested number of copies of your free program (9 A, 20 B &amp;amp; C).  Registration will charge $20 for use of their copy machine.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/registration&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/free-programs-registration-checklist">&#039;Free Programs&#039; Registration Checklist</category>
 <pubDate>Tue, 11 Aug 2009 22:52:30 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">4 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
