<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Intermediate</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/22/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>End of Day Thursday</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/end-day-thursday</link>
 <description>&lt;p&gt;We&#039;re finishing up Intermediate now.&amp;nbsp; Tonight is the Library party... Daddy, I&#039;m going to the library...&amp;nbsp; If you can&#039;t join us, maybe enjoy the &lt;a href=&quot;http://www.iacusn.org/USN2009/albums.html&quot;&gt;photo albums&lt;/a&gt; we&#039;ve been posting for you.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/intermediate">Intermediate</category>
 <pubDate>Thu, 24 Sep 2009 21:36:57 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">27 at http://www.iacusn.org/USN2009/cc</guid>
</item>
<item>
 <title>Intermediate Free</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/intermediate-free</link>
 <description>&lt;p&gt;We&#039;re finishing the &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_UnlimitedPowerFree.htm&quot;&gt;power&lt;/a&gt; and&lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_IntermediateGliderFree.htm&quot;&gt; glider&lt;/a&gt; Intermediate Free in New England weather.&amp;nbsp; Sales of IAC sweatshirts are brisk.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/intermediate">Intermediate</category>
 <pubDate>Wed, 23 Sep 2009 22:46:04 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">20 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
