<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Sportsman</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/20/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Sportsman and Primary are Flying</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/sportsman-and-primary-are-flying</link>
 <description>&lt;p&gt;Sportsman &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_SportsmanPowerKnown.htm&quot;&gt;power&lt;/a&gt;, &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_SportsmanGliderKnown.htm&quot;&gt;glider&lt;/a&gt; and &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_PrimaryFlightI.htm&quot;&gt;Primary&lt;/a&gt; are flying.&amp;nbsp; We have a beautiful day for aerobatics.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/primary">Primary</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/sportsman">Sportsman</category>
 <pubDate>Wed, 23 Sep 2009 13:22:41 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">17 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
