<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Intermediate Advanced</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/18/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Intermediate Known and Advanced Free</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/intermediate-known-and-advanced-free</link>
 <description>&lt;p&gt;The&lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_IntermediatePowerKnown.htm&quot;&gt; Intermediate Known&lt;/a&gt; and &lt;a href=&quot;http://www.iacusn.org/USN2009/results/single_AdvancedPowerFree.htm&quot;&gt;Advanced Free&lt;/a&gt; were completed on Tuesday.&amp;nbsp; Provisional &lt;a href=&quot;http://www.usnationalaerobatics.org/USN2009/scores.html&quot;&gt;results&lt;/a&gt; are posted.&amp;nbsp; We have started to post a &lt;a href=&quot;http://www.iacusn.org/USN2009/albums.html&quot;&gt;photo album&lt;/a&gt; as well thanks to photographer Laurie Zaleski.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/flying">Flying</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/intermediate-advanced">Intermediate Advanced</category>
 <pubDate>Tue, 22 Sep 2009 04:49:07 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">12 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
