<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - Vicki Cruse</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/14/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Book of Memories of Vicki Cruse</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/book-memories-vicki-cruse</link>
 <description>&lt;p&gt;At the 2009 Nationals, IAC will pay tribute to the life of past President Vicki Cruse by placing a book in the briefing hangar along with writing and photo mounting materials.  Members are invited to share memories of Vicki, stories, and accomplishments by writing or placing photographs in the book and looking at what others have left there.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;http://www.iacusn.org/USN2009/cc/?q=content/book-memories-vicki-cruse&quot; target=&quot;_blank&quot;&gt;read more&lt;/a&gt;&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/preparation">Preparation</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/vicki-cruse">Vicki Cruse</category>
 <pubDate>Fri, 11 Sep 2009 01:12:08 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">6 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
