<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xml:base="http://www.iacusn.org/USN2009/cc"  xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title>IACUSN - &#039;Team Selection&#039;</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=taxonomy/term/11/0</link>
 <description></description>
 <language>en</language>
<item>
 <title>Election results for Advanced Judges</title>
 <link>http://www.iacusn.org/USN2009/cc/?q=content/election-results-advanced-judges</link>
 <description>&lt;p&gt;Advanced team candidates have selected the national judges who will grade their flights in competition for slots on the United States Advanced Aerobatic Team.  &lt;/p&gt;
&lt;p&gt;National judges &lt;/p&gt;
&lt;ul&gt;
    &lt;li&gt;Doug Bartlett, &lt;/li&gt;
    &lt;li&gt;Vicki Cruse, &lt;/li&gt;
    &lt;li&gt;Bill Denton, &lt;/li&gt;
    &lt;li&gt;Norm DeWitt, &lt;/li&gt;
    &lt;li&gt;Doug Lovell, &lt;/li&gt;
    &lt;li&gt;John Morrissey, and &lt;/li&gt;
    &lt;li&gt;Hector Ramirez &lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;will select the team of pilots who represent the United States at the world level, to compete at the World Advanced Aerobatic Championships.&lt;/p&gt;</description>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/topic/judging">Judging</category>
 <category domain="http://www.iacusn.org/USN2009/cc/?q=category/keys/team-selection">&#039;Team Selection&#039;</category>
 <pubDate>Sun, 09 Aug 2009 17:42:23 +0000</pubDate>
 <dc:creator />
 <guid isPermaLink="false">1 at http://www.iacusn.org/USN2009/cc</guid>
</item>
</channel>
</rss>
