  h1 { 
     font-style:italic; font-weight:bold; text-align:left;
     color:#FF0000; font-size:x-large;
     margin-top:0px; margin-bottom:0px;
  }
  h2 { 
     font-style:italic; font-weight:bold; text-align:left;
     color:#0000AA; font-size:large;
     margin-top:0px; margin-bottom:0px;
  }
  h2.abstract-atitle {
     font-style:italic; font-weight:bold; text-align:left;
     color:#0000AA; font-size:large;
     margin-top:20px;margin-bottom:3px;
  }
  h3 {
     font-weight:bold; text-align:left;
     color:#0000AA; font-size:x-large;
     margin-top:20px; margin-bottom:10px;
  }
div.iacusn_content {
     background-image:url(sidebar.GIF);
     background-repeat:repeat-y;
     margin-top:0px;
     padding-left:94px
  }
  body {
     font-family:Tahoma,sans-serif;
     color:black;
  }
  /*
  * Menu
  */
  ul.menu {
     display:block;
     margin-bottom:15px;
     font-weight:bold;
  }
  ul.menu > li.leaf {
     display:inline;
  }
  a.menu {
     margin-right:10px;
  }
  /*
  * Footer
  */
  a.footer {
     font-weight:lighter; font-size:xx-small; color:#FF4444;
  }
  div.footer {
     width:400px;
     margin-top:50px;padding-left:94px;
     font-weight:lighter; font-size:xx-small; color:#FF4444;
  }
  dt {
     font-weight:bold;
     margin-top:8px;
  }
  table.officials td {
     padding-right:5px;
  }
  .officialTitle {
     font-weight:bold;
  }
  td.image { float:left; }
  td.category {
     text-align:right;
  }
  .note {
     font-weight:lighter; font-size:small; color:#F44;
  }
  table.report {
     border-collapse:collapse;
  }
  tr.reportHead {
     border-top-width:1pt;
     border-top-style:solid;
     border-top-color:black;
  }
  td.reportText {
     font-family:monospace;
     padding-right:10px;
  }
  td.reportHead {
     font-family:monospace;
  	 font-weight:bold;
  }
  h4.reportHead {
     padding-top:10px;
     margin-bottom:0px;
     margin-top:0px;
  }
  p.volunteer-cat {
     font-weight:bold;
     padding-top:10px;
     margin-top:0px;
     margin-bottom:0px;
  }
  p.volunteer-list {
     font-family:monospace;
     margin-top:0px;
  }
  .schedule-time {text-align:right;padding-right:10px}
  .schedule-flying .schedule-descr {background-color:#cef;}
  .schedule-day {padding-top:10px;font-weight:bold;font-size:x-large;}
  a.image-link:link { border-style:none; }
  a.image-link:visited { border-style:none; }
  a.image-link:active { border-style:none; }
  a.image-link img { border-style:none; }
  table.practiceSlot { 
    empty-cells:show; border-collapse:collapse; page-break-after:always;
    width:80%; margin-bottom:36pt; }
  tr.practiceSlotPilot { page-break-after:avoid; }
  tr.practiceSlotPlane { border-bottom-width:1pt; border-bottom-color:black; border-bottom-style:solid; }
  tr.practiceSlotBlank { height:1.5ex; border-bottom-width:1pt; border-bottom-color:black; border-bottom-style:solid; }
  tr.practiceDate th { text-align:left; font-size:x-large; padding-bottom:8pt; }
  td.practiceSlotLabel { font-weight:bold; font-size:large; }
  tr.practiceSlotPlane td { padding-bottom:4pt; }
  /*
   * Images
   */
  span.image-credit {font-size:x-small;vertical-align:top;}
  span.image-caption {font-variant:small-caps;vertical-align:top;}
  div.image-decor {padding-bottom:10px;font-variant:small-caps;}
  img.image {border:4pt outset blue;margin-top:5px;margin-bottom:5px;}
  .image-caption {font-variant:small-caps;font-size:small;font-weight:bold;}
  .error {color:red; font-weight:bold;}
  p.line {margin-top:0pt;margin-bottom:0pt;}
  p.item-head {margin-bottom:0pt;font-weight:bold;}
  .categoryResult{margin-top:12px;}
  .categoryResultName{display:inline;font-weight:bold;}
  .overallResult{display:inline;margin-left:8px;}
  .flightResult{margin-left:18px;}
  .resultDataRef{display:inline;margin-left:8px;}
  .sequenceDiagram{display:inline;margin-left:8px;}
  .donotmiss{color:blue; font-weight:bold; size:large;}
